.subheading {
  font-weight: 600;
}

.date {
  min-width: 18rem;
}

.navbar-bar {
  background-color: #182848;
}

.navbar-meno {
  color: white;

}

.nav-link {
  color: white;
  margin-left: 1%;
}

.jumbotron
{
  background-color: #182848;
  color: white;
}

h1 
{
  color: #c43323;
  /*color:  #c21500;*/
}