.subheading {
  font-weight: 600;
}

.date {
  min-width: 18rem;
}

.navbar-bar {
  background-color: #182848;
}

.navbar-meno {
  color: white;

}

.nav-link {
  color: white;
  margin-left: 1%;
}

.jumbotron
{
  background-color: #182848;
  color: white;
}

h1 
{
  color: #c43323;  
}

h2
{
  margin-left: 15px;
}

.experience-moje 
{
width: 50%;
background-color: #c43323;
border-radius: 5px; 
margin-left: 0px;
};
