.subheading {
  font-weight: 600;
}

.date {
  min-width: 18rem;
}

.navbar-bar {
  background-color: rgb(241, 236, 236);
  
  
}

body
{
  background-color: rgb(252, 246, 246);
}

.profil
{
  height: 50px;
  margin-top: 2%;
}
.navbar-meno {
  color: black;
  font-size: 30px;
}

.nav-link {
  color:#182848;
}

.navbar-toggler {
  float: none;
  margin: 0 auto;
}

.navbar-toggler-icon
{
  height: 30px;
}


.jumbotron
{
  background-color: #182848;
  color: white;
}

h1 
{
  color: #c43323;  
}

h2
{
  margin-left: 15px;
}

#experience-moje 
{
width: 50%;
background-color: #c43323;
border-radius: 5px; 
margin-left: 0px;
};
